body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  display: grid;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card input,
.card select,
.card button {
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.product-card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.stock-green {
  color: green;
}

.stock-red {
  color: red;
}
